$cardSize: 300px;
$warn: orangered;

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

textarea, select, input, button {
  outline: none;
}

.warn {
  color: $warn;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/frame.png);
  background-repeat: repeat-x;


  .note-input {
    margin: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .75);
    font-size: 1.2em;

  }

  .title {
    color: white;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
    margin: 6px;
  }

  button {
    margin: 5px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .75);
    font-size: .9em;
    border-radius: 5px;

  }
}

.board {
  height: calc(100% - 50px);
  width: 100%;
  background-image: url(../img/cork.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;

  .image-link {
    height: 40px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 0;
  }

}


// ------------
//    Notes
// ------------


.note {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  min-width: 300px;
  height: $cardSize;
  width: $cardSize;
  background-image: url("../img/note.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  animation-direction: alternate;

  .pin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-43%);
    height: $cardSize * .2;
    width: $cardSize * .2;
    border-radius: 200px;
    cursor: grab;
  }

  .note-body {
    padding-left: $cardSize * .1;
    padding-right: $cardSize * .1;
    padding-top: $cardSize * .2;
    display: flex;
    flex-direction: column;
    height: $cardSize * .72;

    .note-todo-list {
      overflow: scroll;
      margin-bottom: 5px;
    }

    .delete-note {
      position: absolute;
      top: 8%;
      right: 10%;
      font-size: 1.5em;
    }

    .todo-input {
      background: #fff800;
      border: none;
      flex-grow: 1;
      margin-right: 10%
    }

    .note-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-decoration: underline;
      margin: 6px;
    }

    .todo-item {
      padding: 3px 0;
      display: flex;
      flex-direction: row;
    }

    .todo-text {
      margin-left: 15px;
      flex-grow: 1;
    }


  }

}


.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999;
  display: block;
}


.grab {
  cursor: grab;
}

.pointer {
  cursor: pointer;
}

.grab.grabbed {
  cursor: grabbing;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}
.shrink {
  transform: scale(0);
}